html{scroll-behavior: smooth;}

body{
   margin: 0;
   padding: 0;
   color: var(--color);
   background: var(--background);
   text-align: left;
   font-family: "Open Sans", sans-serif;
   --color: #000;
   --background: #f6f6f6;
   --theme: #e67e22;
   --theme2: #d35400;
   }

   #loading-screen{
     width: 100%;
     height: 100vh;
     background: var(--background);
     position: fixed;
     align-items: center;
     justify-content: center;
     display: flex;
     z-index: 1000;
     }

    #loader{
     width: 50px;
     height: 50px;
     color: var(--theme);
     border: 10px solid;
     border-radius: 50%;
     border-top-color: transparent;
     animation: loading 1s infinite;
     }

   #navbar{
     background: var(--theme);
     height: 56px;
     width: 100%;
     top: 0;
     position: fixed;
     text-align: center;
     z-index: 999;
     color: #fff;
     user-select: none;
   }

   #navbar-placeholder{
     background: transparent;
     height: 56px;
     width: 100%;
     top: 0;
     position: static;
   }

   #content{
     width: 100%;
     max-width: 1100px;
     margin: auto;
   }

   #content h1, #content h3, #content p{
     margin: 10px;
   }


   #history{
     height: 56px;
     width: 56px;
     font-size: 24px;
     border: none;
     border-radius: 50%;
     margin: 20px;
     right: 0;
     bottom: 0;
     color: #fff;
     background: var(--theme);
     float: right;
     position: fixed;
     outline: none;
     display: none;
   }

   #creator{
     width: auto;
   }

   #creator input{
     width: 90%;
     height: auto;
     font-size: 22px;
     margin: 5px;
     background: var(--theme);
     color: #fff;
     border: 2px solid;
     border-color: var(--theme2);
     border-radius: 8px;
     outline: none;
     font-family: "Open Sans", sans-serif;
   }

   #creator textarea{
     width: 90%;
     height: auto;
     min-height: 80px;
     font-size: 18px;
     margin: 5px;
     background: var(--theme);
     color: #fff;
     border: 2px solid;
     border-color: var(--theme2);
     border-radius: 8px;
     outline: none;
     resize: vertical;
     font-family: "Open Sans", sans-serif;
   }

   #creator select{
     width: 90%;
     height: auto;
     font-size: 18px;
     margin: 5px;
     background: var(--theme);
     color: #fff;
     border: 2px solid;
     border-color: var(--theme2);
     border-radius: 8px;
     outline: none;
     font-family: "Open Sans", sans-serif;
   }

   .createButtons{
     width: 90%;
     height: auto;
     font-size: 24px;
     margin: 5px;
     background: var(--theme);
     color: #fff;
     border: 2px solid;
     border-color: var(--theme2);
     border-radius: 8px;
     outline: none;
     font-family: "Open Sans", sans-serif;
   }

   .createButtons:hover{
     background: var(--theme2);
   }

   #qr-code-img{
     width: 90%;
     max-width: 400px;
     height: auto;
     margin: 15px;
     margin-left: 5%;
     margin-right: 5%;
   }

   #qr-types{
     font-size: 0;
   }

   .qr-type-btn{
     width: auto;
     height: auto;
     font-size: 18px;
     background: var(--theme);
     color: #fff;
     border: 2px solid;
     border-color: var(--theme2);
     outline: none;
     user-select: none;
     margin: 5px;
     margin-right: 0;
     margin-left: 0;
     border-right: none;
     border-left: none;
   }

   .qr-type-btn:hover{
     background: var(--theme2);
   }

   .qr-type-btn:first-of-type{
     border-top-left-radius: 8px;
     border-bottom-left-radius: 8px;
     margin-left: 5px;
     border-left: 2px solid;
     border-color: var(--theme2);
   }

   .qr-type-btn:last-of-type{
     border-top-right-radius: 8px;
     border-bottom-right-radius: 8px;
     margin-right: 5px;
     border-right: 2px solid;
     border-color: var(--theme2);
   }

   .active-type2{
     background: var(--theme2);
   }

   .input-container{
     display: none;
   }

   a{
     text-decoration: none;
     color: inherit;
   }

   a:hover{
     text-decoration: underline;
   }


   @keyframes loading{
   to{ transform: rotate(720deg); }
   }


   @media screen and (max-width:560px){
     .qr-type-btn{
       width: calc(50% - 10px);
       height: auto;
       font-size: 18px;
       background: var(--theme);
       color: #fff;
       border: 2px solid;
       border-right: 2px solid;
       border-left: 2px solid;
       border-color: var(--theme2);
       outline: none;
       user-select: none;
       margin: 5px;
       border-radius: 8px;
     }
     .active-type2{
       background: var(--theme2);
     }
   }

   @media screen and (max-width:300px){
     .qr-type-btn{
       width: calc(33% - 10px);
       height: auto;
       font-size: 18px;
       background: var(--theme);
       color: #fff;
       border: 2px solid;
       border-right: 2px solid;
       border-left: 2px solid;
       border-color: var(--theme2);
       outline: none;
       user-select: none;
       margin: 5px;
       border-radius: 8px;
     }
     .active-type2{
       background: var(--theme2);
     }
   }

   ::selection {background: var(--theme2); color: #ffffff;}
   ::-moz-selection {background: var(--theme2); color: #ffffff;}
   ::placeholder {color: #ffffff;}
